blockquote {
  color: #fff;
  text-shadow: 7px 1px 30px rgba(150, 150, 156, 1);
  z-index: 2;
  font-size: 2rem;
  width: 90%;
  margin-left: 20px;
  font-family: 'Lora', serif;
  font-weight: 600;

  background: rgba(0, 0, 0, 0.5);
  white-space: pre-line;
  text-align: center;
}

.top-50-local {
  top: 50% !important;
}

.download-btn {
  z-index: 5;
}

body {
  background-image: url('../assets/quote_bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-size: 500px 900px;
}

@media only screen and (max-width: 600px) {
  body {
    background-size: 500px 800px;
  }
  blockquote {
    font-size: 0.8em;
    top: 30% !important;
    font-size: small;
  }

  h1 {
    display: block;
    font-size: calc(1.525rem + 3.3vw);
    font-weight: 300;
    line-height: 1.2;
  }

  .rs-fix {
    flex: auto;
    text-align: center;
    padding: 5px 20px;
  }

  .rs-fix + div {
    text-align: center !important;
    padding: 10px 0 0 0;
  }

  .footer {
    width: 65%;
  }

  .top-50-local {
    top: 35% !important;
  }
}
