.completed_task {
  text-decoration: line-through;
  color: light-grey !important;
}

.c-pointer {
  cursor: pointer;
}

.w-94 {
  width: 90%;
}

.no-pointer-event {
  pointer-events: none;
}

.bg-purple {
  background-color: #886ce4;
}
